{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">Empleados</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10"></div>
        <div class="col-md-2 col-xs-1 col-sm-1">
            <br />
            <a href="{% url 'crear-empleado' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
        </div>
    </div>
    <br />
    <table class="table table-bordered" id="example" class="display" >
        <thead>
            <th>Opciones</th>
            <th>Nombre</th>
            <th>Fecha de nacimiento</th>
            <th>correo</th>
            <th>genero</th>
            <th>telefono</th>
            <th>celular</th>
            <th>fecha de ingreso</th>
            <th>area</th>
        </thead>
        <tbody>
            {% for dep in empleados %}
            <tr>
                <td><a class="btn btn-sm btn-info" href="{% url 'editaremp' dep.pk %}">Editar</a></td>
				<td>{{dep.nombre}} {{dep.apellido}}</td>
                <td>{{dep.fechaNacimiento}}</td>
                <td>{{dep.correo}}</td>
                <td>{{dep.genero}}</td>
                <td>{{dep.telefono}}</td>
                <td>{{dep.celular}}</td>
                <td>{{dep.fechaIngreso}}</td>
                <td>{{dep.fkArea.fkempresa}}  <span class="badge badge-success">{{dep.fkArea.fkdepartamento}}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}