{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">Empresas-Departamentos</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-10 col-sm-10"></div>
        <div class="col-md-2 col-xs-1 col-sm-1">
            <br />
            <a href="{% url 'asignar-emp-dep' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <th>Opciones</th>
            <th>Empresa</th>
            <th>Departamento</th>
        </thead>
        <tbody>
            {% for dep in empdep %}
            <tr>
                <td><a class="btn btn-sm btn-info" href="{% url 'editardep' dep.pk %}">Editar</a></td>
				<td>{{dep.fkempresa}}</td>
                <td>{{dep.fkdepartamento}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}